<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".BtnClickActivity">
        </activity>
        
         <activity
            android:name=".SelectExampleActivity">
        </activity>
        
         <activity
            android:name=".FragmentTestActivity">
        </activity>

         <activity android:name="BtnClickInvokeActivity"/>


        <activity
                android:name=".NotificationActivity">
        </activity>

        <activity
                android:name=".FragmentTabActivity">
        </activity>
        
        <activity
                android:name=".HttpTestActivity">
        </activity>

        <activity android:name=".fiftyhacks.Hack01Activity"></activity>
        
        <activity android:name=".fiftyhacks.Hack02Activity"></activity>
        
        <activity android:name=".fiftyhacks.Hack07Activity"></activity>

        <activity android:name=".fiftyhacks.Hack08Activity" android:screenOrientation="portrait" ></activity>
        
    </application>

</manifest>